div h1.titulo{
    font-size: 50px;
    text-align: center;
    color: #4f4789;
}

div.divbigHouses{
    background: #d7d2ff;
    width: 100%;
    margin: 0%;
    height: 400px;
}

div.imgsHouses{
    background: #d7d2ff;
    width: 50%;
    margin: 0%;
    height: 410px;
    float: left;
    position: relative;
}

div img.imgH1{
    position: absolute;
    border-radius: 23px;
    width: 35%;
    height: 105%;
    margin: 25px 90px;
}

div img.imgH2{
    position: absolute;
    border-radius: 23px;
    width: 44%;
    margin: 25px 110px;
    left: 240px;
    top: 25px;
}

div img.imgH3{
    position: absolute;
    border-radius: 23px;
    width: 60%;
    margin: 25px 110px;
    top: 248px;
    left: 240px;
}

div.descHouses{
    background: #d7d2ff;
    width: 50%;
    margin: 0%;
    height: 410px;
    float: left;
}

div h1.tituloHouses{
    font-size: 45px;
    text-align: right;
    color: #778aed;
    margin: 40px 140px;
}

div p.contHouses{
    font-size: 25px;
    text-align: right;
    color: white;
    margin: 0px 140px;
}


div.divGardens{
    background: #e8d3ff;
    width: 100%;
    margin: 0%;
    height: 400px;
}

div div.descGardens{
    background: #e8d3ff;
    width: 50%;
    margin: 0%;
    height: 580px;
    float: left;
}

div h1.tituloGardens{
    font-size: 45px;
    text-align: left;
    color: #8164bd;
    margin-top: 170px;
    margin-left: 140px;
}

div p.contGardens{
    font-size: 25px;
    text-align: left;
    color: white;
    margin: 0px 140px;
}

div div.imgsGardens{
    background: #e8d3ff;
    width: 50%;
    margin: 0%;
    height: 580px;
    float: left;
    position: relative;
}

div img.imgG1{
    position: absolute;
    border-radius: 23px;
    width: 43%;
    margin-right: 110px;
    top: 130px;
    left: 10px;
}

div img.imgG2{
    position: absolute;
    border-radius: 23px;
    width: 35%;
    margin-right: 110px;
    top: 100px;
    left: 330px;
}

div img.imgG3{
    position: absolute;
    border-radius: 23px;
    width: 35%;
    margin-right: 110px;
    top: 325px;
    left: 50px;
}

div img.imgG4{
    position: absolute;
    border-radius: 23px;
    width: 33%;
    margin-right: 110px;
    top: 480px;
    left: 315px;
}


div.divPalace{
    background: #ddbdfa;
    width: 100%;
    margin: 0%;
    height: 400px;
}

div div.imgsPalace{
    background: #ddbdfa;
    width: 50%;
    margin: 0%;
    height: 760px;
    float: left;
    position: relative;
}

div img.imgP1{
    position: absolute;
    border-radius: 23px;
    width: 41%;
    margin-left: 90px;
    top: 140px;
}

div img.imgP2{
    position: absolute;
    border-radius: 23px;
    width: 35%;
    left: 395px;
    top: 170px;
}

div img.imgP3{
    position: absolute;
    border-radius: 23px;
    width: 35%;
    left: 110px;
    top: 370px;
}

div img.imgP4{
    position: absolute;
    border-radius: 23px;
    width: 33%;
    left: 380px;
    top: 515px;
}

div.descPalace{
    background: #ddbdfa;
    width: 50%;
    margin: 0%;
    height: 760px;
    float: left;
}

div h1.tituloPalace{
    font-size: 45px;
    text-align: right;
    color: white;
    margin-right: 140px;
    margin-top: 250px;
}

div p.contPalace{
    font-size: 25px;
    text-align: right;
    color: white;
    margin-right: 140px;
    margin-top: 40px;
}
