.cabecalho {
	height: 80px;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 80px;
	border-bottom: 1px solid #282828;
}

.cabecalho .logo {
	display: flex;
	gap: 30px;
}

img {
    width: 100px;
    padding-bottom: 8px;
}

.cabecalho .menu {
	display: flex;
	gap: 60px;
}

.cabecalho .menu li a {
	padding: 30px;
	color: #3e2447;
	font-weight: bolder;
	font-size: 23px;
	font-family:'Questrial', Tahoma, Geneva, Verdana, sans-serif;
}

.cabecalho .menu li a:hover {
	border-bottom: 2px solid #3e2447; 
}

.section.banner{
    background: #f9e3ff;
    width: 100%;
    height: 720px;
    position: relative;
}

div.textosBanner{
    background:#f9e3ff;
    width: 100%;
    float: left;
    height: 720px;
}

h1.tituloBanner{
    color: #7d488d;
    text-decoration: none;
    font-size: 58px;
    text-align: left;
    margin-left: 83px;
    margin-top: 45px;
    font-family: 'Playfair Display', Times, serif;
}

div.descBanner {
    font-size: 22px;
    text-align: left;
    margin-left: 130px;
    margin-top: -32px;
    color: #a87bc2;
    text-decoration: none;
}

.estrelaTexto1 {
    position: absolute;
    width: 35px;
    left: 100px;
    bottom: 181px;
}

.estrelaTexto2 {
    position: absolute;
    width: 35px;
    left: 100px;
    bottom: 132px;
}

.estrelaTexto3 {
    position: absolute;
    width: 35px;
    left: 100px;
    bottom: 84px;
}

.estrelaTexto4 {
    position: absolute;
    width: 35px;
    left: 100px;
    bottom: 36px;
}

.estrelaTexto5 {
    position: absolute;
    width: 35px;
    left: 100px;
    bottom: -12px;
}

div.imagensBanner{
    background: #f9e3ff;
    width: 50%;
    float: left;
}

img.img1{
    border-radius: 23px;
    width: 13%;
    position: absolute;
    left: 785px;
    top: 160px;
}

img.img2{
    border-radius: 23px;
    width: 19%;
    position: absolute;
    left: 1000px;
    top: 160px;
}

img.img3{
    border-radius: 23px;
    width: 20%;
    position: absolute;
    left: 765px;
    top: 420px;
}

img.img4{
    border-radius: 23px;
    width: 13%;
    position: absolute;
    left: 1075px;
    top: 345px;
}

img.img5{
    border-radius: 23px;
    width: 14%;
    position: absolute;
    left: 537px;
    top: 390px;
}

img.img6{
    border-radius: 23px;
    width: 16%;
    position: absolute;
    left: 530px;
    top: 195px;
}

div.botão {
    position: relative;
}

.botão a {
    position: absolute;
    background-color: #8164bd;
    border-radius: 25px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Questrial', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    width: 350px;
    height: 60px;
    right: 903px;
    top: 600px;
}

section.locais{
    margin-top: 900px;
}

div h1.titulo{
    font-size: 50px;
    text-align: center;
    color: #4f4789;
    margin-bottom: 70px;
}

div.divbigHouses{
    background: #d7d2ff;
    width: 100%;
    margin: 0%;
    height: 400px;
}

div.imgsHouses{
    background: #d7d2ff;
    width: 50%;
    margin: 0%;
    height: 410px;
    float: left;
    position: relative;
}

div img.imgH1{
    position: absolute;
    border-radius: 23px;
    width: 30%;
    height: 88%;
    margin: 25px 90px;
    left: 30px;
}

div img.imgH2{
    position: absolute;
    border-radius: 23px;
    width: 36%;
    margin: 25px 110px;
    left: 244px;
    top: 5px;
}

div img.imgH3{
    position: absolute;
    border-radius: 23px;
    width: 51%;
    margin: 25px 110px;
    top: 200px;
    left: 244px;
}

div.descHouses{
    background: #d7d2ff;
    width: 50%;
    margin: 0%;
    height: 410px;
    float: left;
}

div h1.tituloHouses{
    font-size: 45px;
    text-align: right;
    color: #778aed;
    margin: 40px 140px;
}

div p.contHouses{
    font-size: 25px;
    text-align: right;
    color: white;
    margin: 0px 140px;
}


div.divGardens{
    background: #e8d3ff;
    width: 100%;
    margin: 0%;
    height: 400px;
}

div div.descGardens{
    background: #e8d3ff;
    width: 50%;
    margin: 0%;
    height: 580px;
    float: left;
}

div h1.tituloGardens{
    font-size: 45px;
    text-align: left;
    color: #8164bd;
    margin-top: 100px;
    margin-left: 140px;
}

div p.contGardens{
    font-size: 25px;
    text-align: left;
    color: white;
    margin: 0px 140px;
}

div div.imgsGardens{
    background: #e8d3ff;
    width: 50%;
    margin: 0%;
    height: 580px;
    float: left;
    position: relative;
}

div img.imgG1{
    position: absolute;
    border-radius: 23px;
    width: 43%;
    margin-right: 110px;
    top: 60px;
    left: 10px;
}

div img.imgG2{
    position: absolute;
    border-radius: 23px;
    width: 30%;
    margin-right: 110px;
    top: 40px;
    left: 330px;
}

div img.imgG3{
    position: absolute;
    border-radius: 23px;
    width: 30%;
    margin-right: 110px;
    top: 260px;
    left: 65px;
}

div img.imgG4{
    position: absolute;
    border-radius: 23px;
    width: 28%;
    margin-right: 110px;
    top: 370px;
    left: 300px;
}


div.divPalace{
    background: #ddbdfa;
    width: 100%;
    margin: 0%;
    height: 400px;
}

div div.imgsPalace{
    background: #ddbdfa;
    width: 50%;
    margin: 0%;
    height: 630px;
    float: left;
    position: relative;
}

div img.imgP1{
    position: absolute;
    border-radius: 23px;
    width: 37%;
    margin-left: 110px;
    top: 60px;
}

div img.imgP2{
    position: absolute;
    border-radius: 23px;
    width: 30%;
    left: 395px;
    top: 90px;
}

div img.imgP3{
    position: absolute;
    border-radius: 23px;
    width: 30%;
    left: 130px;
    top: 270px;
}

div img.imgP4{
    position: absolute;
    border-radius: 23px;
    width: 28%;
    left: 365px;
    top: 390px;
}

div.descPalace{
    background: #ddbdfa;
    width: 50%;
    margin: 0%;
    height: 630px;
    float: left;
}

div h1.tituloPalace{
    font-size: 45px;
    text-align: right;
    color: white;
    margin-right: 140px;
    margin-top: 140px;
}

div p.contPalace{
    font-size: 25px;
    text-align: right;
    color: white;
    margin-right: 140px;
    margin-top: 40px;
}


section.cardápio {
    position: relative;
    margin-top: 1000px;
}

div.descCardápio h1 {
 
    font-family: 'Playfair Display', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45.4px;
    color: #7d488d;
    top: 10px;
    text-align: center;
}

div.descCardápio p {
    font-family: 'Questrial', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: #3b346d;
    text-align: center;
}

div.descCardápio img.linha {
    width: 810px;
    position: absolute;
    right: 262px;
    top: 170px;
}

div.descCardápio h2 {
    font-size: 39.4px;
    font-family: 'Playfair Display', Tahoma, Geneva, Verdana, sans-serif;
    color: #766dc0;
    text-align: center;
    margin-top: 170px;
}

div.imagensCardápio {
    position: relative;
}

div.imagensCardápio .imagem1 {
    position: absolute;
    top: 83px;
    left: 136px;
    width: 18.5%;
} 

div.imagensCardápio .imagem2 {
    position: absolute;
    top: 84px;
    left: 534px;
    width: 19.5%;
}

div.imagensCardápio .imagem3 {
    position: absolute;
    top: 83px;
    left: 939px;
    width: 18.8%;
}

div.descimagensCardápio {
    position: relative;
}

div.descimagensCardápio .coquetel1 {
    position: absolute;
    top: 320px;
    left: 191px;
    font-family: 'Playfair Display', Times, serif;
    font-size: 37px;
    color: #766dc0;
    text-align: center;
}

div.descimagensCardápio .coquetel2 {
    position: absolute;
    top: 320px;
    left: 593px;
    font-family: 'Playfair Display', Times, serif;
    font-size: 37px;
    color: #766dc0;
    text-align: center;
}

div.descimagensCardápio .coquetel3 {
    position: absolute;
    top: 320px;
    left: 983px;
    font-family: 'Playfair Display', Times, serif;
    font-size: 37px;
    color: #766dc0;
    text-align: center;
}

div.descimagensCardápio .preço1 {
    position: absolute;
    top: 455px;
    left: 165px;
    font-family: 'Playfair Display', Times, serif;
    font-size: 20px;
    color: #766dc0;
    text-align: center;
}

div.descimagensCardápio .preço2 {
    position: absolute;
    top: 455px;
    left: 570px;
    font-family: 'Playfair Display', Times, serif;
    font-size: 20px;
    color: #766dc0;
    text-align: center;
}

div.descimagensCardápio .preço3 {
    position: absolute;
    top: 455px;
    left: 963px;
    font-family: 'Playfair Display', Times, serif;
    font-size: 20px;
    color: #766dc0;
    text-align: center;
}

div.botõesimagensCardápio {
    position: relative;
}

.botãoCardápio1 {
    position: absolute;
    background-color: #8164bd;
    border-radius: 25px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Questrial', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    width: 250px;
    height: 40px;
    left: 137px;
    top: 535px;
}

.botãoCardápio2 {
    position: absolute;
    background-color: #8164bd;
    border-radius: 25px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Questrial', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    width: 250px;
    height: 40px;
    left: 540px;
    top: 535px;
}

.botãoCardápio3 {
    position: absolute;
    background-color: #8164bd;
    border-radius: 25px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Questrial', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    width: 250px;
    height: 40px;
    left: 935px;
    top: 535px;
}

footer.rodapé {
    background-color: #f9e3ff;
    position: relative;
    top: 800px;
    height: 150px;
}

.comunicação {
    position: absolute;
    right: 80px;
    font-family: 'Questrial', Tahoma, Geneva, Verdana, sans-serif;
    color: #3e2447;
    font-size: 17.5px;
}

.endereço {
    position: absolute;
    top: 13px;
    font-family: 'Questrial', Tahoma, Geneva, Verdana, sans-serif;
    color: #3e2447;
    font-size: 18.4px;
}

.direitos {
    position: absolute;
    top: 60px;
    font-family: 'Questrial', Tahoma, Geneva, Verdana, sans-serif;
    color: #3e2447;
    font-size: 18.4px;
}

div.redesSociais {
    position: relative;
    top: 110px;
    right: 140px;
}

.instagram {
    position: absolute;
    bottom: 10px;
    right: 100px;
    width: 50px;
}

.x {
    position: absolute;
    bottom: 10px;
    right: 32px;
    width: 46px;
}

.whatsapp {
    position: absolute;
    bottom: -40px;
    right: 100px;
    width: 46px;
}

.youtube {
    position: absolute;
    bottom: -40px;
    right: 32px;
    width: 42px;
} 
